

/*Disable type=number input spinners:

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}*/


.container-fluid {
	width: 100%;
	max-height: 89vh;
	overflow: scroll;
}

body {
	margin-bottom: 50px;
}

h3.generic-page-heading {
	margin: 50px;
}

h3.generic-page-heading2 {
	margin: 20px;
}



div.homepage {
	height: 89vh;
	background: url(/img/girlbike.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

div.splash-container {
	height: 100%;
}

div.homepage h2 {
	color: white;
	font-weight: 400;
	margin-left: 8%;
	max-width: 50vw;
	font-family: 'Caveat', cursive;
/*	text-transform: uppercase;*/
}

div.general-container {
	max-width: 650px;
	margin: 0 auto;
	padding: 50px;
	max-height: 89vh;
	overflow: scroll;
}


div.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.tooltip-inner {
	background-color: white;
	color: black;
	text-align: justify;
	border: 1px solid #DBDBDB;
	padding: 1vw;
}

.list-group-item, .list-group-item:hover {
	z-index: auto;
}




/*'/cars' page*/
div.showcars-page-container h3 {
	margin: 20px;
}

div.showCars-container {
	height: 80vh;
	overflow: scroll;
}

div.showCars-map-container {
	height: 80vh;
}

img.showCarsImg {
	object-fit: cover;
	width: 100%;
}




/*'/cars/:id page'*/
div.carpage-container {
	max-height: 88vh;
	overflow: scroll;
}

img.getCarImg {
	margin-top: 1.5vh;
	width: 80vw;
	height: 70vh;
	object-fit: cover;
}




/*Google map: */
#map {
	height: 100%;
}

/*Google map: hide fullscreen button and click event: */
.gmnoprint.gm-style-cc + button,
.gm-fullscreen-control {
  display: none;
}




/* Form wizard: hide all steps by default: */
.form-tab {
  display: none;
}

/* Form wizard: mark input boxes with validation error:
input.invalid {
  background-color: #ffdddd;
}*/

/* Form wizard: circles that indicate form steps: */
.form-step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Form wizard: mark the active form-step: */
.form-step.active {
  opacity: 1;
}

/* Form wizard: mark form-steps that are finished and valid: */
.form-step.finish {
  background-color: #4CAF50;
}





